{% extends 'index.html' %}

{% load static %}
{% block content %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Top {{ category.name }} Companies</h1>
            <span class="color-text-a">Top rated companies</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ category.name }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="grid-option">
            <form>
              <select class="custom-select">
                <option selected>All</option>
                <option value="1">New to Old</option>
                <option value="2">For Rent</option>
                <option value="3">For Sale</option>
              </select>
            </form>
          </div>
        </div>
        <!--item start-->
        {% for company in agency_list %}
    <div class="col-lg-4 col-md-6 mb-4">
    <!--Card-->
    <div class="card card-cascade narrower mb-4" style="margin-top: 28px">

      <!--Card image-->
      <div class="view view-cascade" style="margin-right: auto;">
        <img src="{{company.logo.url}}" class="{{company.name}}"
          alt="" style="width: auto; min-height: 40px">
        <a href="{% url 'company' company.slug %}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade">
        <h4 class="pink-text">{{company.name}}</h4>
        <div class="my-rating-4" data-rating="{{ company.scores }}"></div>
        <!--Title-->
        <h5 class="card-title">{{ company.rates}}</h5>
        <!--Text-->
        <p class="card-text">{{ company.location }}</p>

        <a class="btn btn-unique" href="{% url 'company' company.slug %}">View more</a>



      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
        {% endfor %}
        <!--item ends-->

      </div>
      {% if is_paginated %}
      <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}
              <li class="page-item">
                {% if page_obj.previous_page_number == 1%}
                <a class="page-link" href="/category/{{ category.slug }}/" tabindex="-1">
                {% else %}
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                {% endif %}
                  <span class="ion-ios-arrow-back"></span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <span class="ion-ios-arrow-back"></span>
                </a>
              </li>
              {% endif %}


              {% for page in paginator.page_range %}
              {% if page_obj.number == page %}
              <li class="page-item active">
                {% if page == 1 %}
                <a class="page-link" href="/category/{{ category.slug }}/">{{ page }}</a>
                {% else %}
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
                {% endif %}
              </li>
              {% else %}
              <li class="page-item">
                {% if page == 1 %}
                <a class="page-link" href="/category/{{ category.slug }}/">{{ page }}</a>
                {% else %}
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
                {% endif %}
              </li>
              {% endif %}
              {% endfor %}


              {% if page_obj.has_next %}
              <li class="page-item next">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
              {% else %}
              <li class="page-item next disabled">
                <a class="page-link" href="#">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
              {% endif %}

            </ul>
          </nav>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
<section>
<div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">By employees</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  {% for empl in employees_num %}
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="?employees={{empl.employees}}">{{ empl.employees }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Rates</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                {% for rate in rates_list %}
                {%if rate.rates|length > 1%}
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="?rate={{ rate.rates }}">{{ rate.rates }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  <!--/ Property Grid End /-->

{% endblock %}
